@model WebsiteBanDTOnline.Models.EF.Product
@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index","News")" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Add","News")" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}
@section body{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm mới sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Products")">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">Cập nhật</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thông tin cập nhật Sản phẩm</h3>

                <div class="card-tools">
                    <a href="~/News/Add" class="btn btn-primary">Thêm mới Sản phẩm</a>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body p-0">
                    <div class="bs-stepper linear">

                        <div class="bs-stepper-content">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false)
                                    @Html.HiddenFor(x => x.Id)
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                            @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                                        </ul>
                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="active tab-pane" id="activity">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Tên sản phẩm</label>
                                                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                                    @Html.ValidationMessageFor(x => x.ProductName, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Alias</label>
                                                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @placeholder = "Alias" })
                                                    @Html.ValidationMessageFor(x => x.ProductName, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">SKU</label>
                                                    @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                                    @Html.ValidationMessageFor(x => x.ProductCode, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Chi Tiết</label>
                                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @id = "txtDetail" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Danh mục</label>
                                                    @Html.DropDownListFor(x => x.ProductCate_ID, ViewBag.ProductCategory as SelectList, "Chọn danh mục sản phẩm", new { @class = "form-control", @placeholder = "Danh mục sản phẩm" })
                                                    @Html.ValidationMessageFor(x => x.ProductCate_ID, null, new { @class = "text-danger" })
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail">Số Lượng</label>
                                                            @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @Value = "1" })
                                                            @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail">Giá</label>
                                                            <input type="text" name="demoPrice" value="@Model.Price" id="demoPrice" class="form-control auto" data-a-sign="" data-a-dec="," data-a-sep="." />
                                                            @Html.HiddenFor(x => x.Price, new { @class = "", @placeholder = "Giá" })
                                                            @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail">Giá khuyến mãi</label>
                                                            <input type="text" name="demoPriceSale" id="demoPriceSale" value="@Model.PriceSale" class="form-control auto" data-a-sign="" data-a-dec="," data-a-sep="." />
                                                            @Html.HiddenFor(x => x.PriceSale, new { @class = "", @placeholder = "Giá khuyến mãi" })
                                                            @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail">Giá nhập</label>
                                                            <input type="text" name="demoPriceSale" id="demoPriceSale" value="0" class="form-control auto" data-a-sign="" data-a-dec="," data-a-sep="." />
                                                            @Html.HiddenFor(x => x.PriceSale, new { @class = "", @placeholder = "Giá nhập" })
                                                            @Html.ValidationMessageFor(x => x.OriginalPrice, null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            <div class="custom-control custom-checkbox">
                                                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                                                <label for="customCheckbox2" class="custom-control-label">Trạng Thái</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.CheckBoxFor(x => x.IsHot, new { @class = "custom-control-input", @id = "IsHotCheckbox" })
                                                            <label for="IsHotCheckbox" class="custom-control-label">Hot</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.CheckBoxFor(x => x.IsFeature, new { @class = "custom-control-input", @id = "IsFeatureCheckbox" })
                                                            <label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group">
                                                            @Html.CheckBoxFor(x => x.IsSale, new { @class = "custom-control-input", @id = "IsSaleCheckbox" })
                                                            <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="timeline">
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <table class="table table-hover" id="tbAnhSanPham">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">#</th>
                                                                    <th class="text-center">Ảnh</th>
                                                                    <th class="text-center">Ảnh trưng bày</th>
                                                                    <th class="text-center">Thao tác</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbHtml">
                                                            </tbody>

                                                        </table>
                                                        <input type="hidden" id="tCurrentId" value="0" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <div class="tab-pane" id="settings">
                                                <form class="form-horizontal">
                                                    <div class="form-group row">
                                                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputName" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <button type="submit" class="btn btn-danger">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">Lưu thông tin</button>
                                            <a href="@Url.Action("Index","Products")" class="btn btn-danger">Quay lại</a>
                                        </div>
                                    </div><!-- /.card-body -->

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginPrice').autoNumeric('get');
                $('#OriginPrice').val(demoGet);
                $('#+OriginPrice').autoNumeric('set', demoGet);
            });
            var editor = CKEDITOR.replace('txtDetail', {
                filebrowserBrowseUrl: '/Content/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder.html?type=Images',
                filebrowserUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                filebrowserWindowWidth: '1000',
                filebrowserWindowHeight: '700',
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
            CKFinder.setupCKEditor(editor);
        });
        
           
        
    </script>
}



