<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block" style="color: #fff;">Admin</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="@Url.Action("Index","ThongKeDoanhThu")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thống kê doanh thu
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","User")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý tài khoản
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Category")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý danh mục
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","News")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý tin tức
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Promotion")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Chương trình khuyến mãi
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Products")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","ProductCategory")" class="nav-link" style="color: #fff;">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Products")" class="nav-link" style="color: #fff;">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Order")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý đơn hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
              
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Order")" class="nav-link" style="color: #fff;">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Đơn hàng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Survey")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Khảo sát
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("LogOut", "Login")" class="nav-link" style="color: #fff;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                        <span class="right badge badge-danger"></span>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
    